{% extends 'dt_content/console/base.html' %}

{% block body %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dt-content:index' %}">Console</a></li>
      <li class="breadcrumb-item active" aria-current="page">All Blurbs</li>
    </ol>
  </nav>
</div>

<div class="container py-4">
  <div class="d-flex align-items-center mb-4">
    <h3 class="m-0 mr-3">All Blurbs</h3>
  </div>

  {% if request.GET.success == 'true' %}
  <div class="alert alert-success">Update successful</div>
  {% endif %}
  <div class="row">
    {% for blurb in blurb_list %}
    <div class="col-12">
      <div class="card d-flex flex-row align-items-center mb-3 ">
        <a href="{% url 'dt-content:blurb-update' blurb.id %}" class="text-decoration-none">
          <h4 class="m-0 mr-3">{{ blurb.display_name }}</h4>
        </a>
        {% if blurb.last_known_location %}
        <p class="m-0 mr-3">{{ blurb.last_known_location }} </p>
        <a href="{{ blurb.href }}" class="ml-auto btn btn-outline-primary">
          View on Page
        </a>
        {% endif %}
      </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
