{% extends 'dt_content/console/base.html' %}

{% block body %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% with section=content_section %}
      {% include 'dt_content/snippets/breadcrumbs/section.html' %}
      {% endwith %}
    </ol>
  </nav>
</div>

<div class="container py-4">
  <form method="post">
    {% csrf_token %}
    <div class="mb-4">
      <h3>Delete {{ content_section }}?</h3>
    </div>
    <a href="{{ next_url }}" class="btn btn-secondary">
      Cancel
    </a>
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>
</div>
{% endblock %}
