{% extends 'dt_content/console/base.html' %}

{% block body %}
<div class="container py-4">
  <h3>Console</h3>
  <div class="row">
    <!-- MANAGEMENT -->
    <div class="col-12 col-md-5">
      <a href="{% url 'dt-content:menu-list' %}" class="btn btn-light btn-block btn-lg text-left mb-2 px-4">
        Manage Site
      </a>
      <a href="{% url 'dt-content:content-section-list' %}" class="btn btn-light btn-block btn-lg text-left mb-2 px-4">
        Static Sections: {{ static_section_count }}
      </a>
      <a href="{% url 'dt-content:content-block-list' %}" class="btn btn-light btn-block btn-lg text-left mb-2 px-4">
        Static Blocks: {{ static_block_count }}
      </a>
      <a href="{% url 'dt-content:blurb-list' %}" class="btn btn-light btn-block btn-lg text-left mb-2 px-4">
        Blurbs: {{ blurb_count }}
      </a>
      <a href="{% url 'dt-content:image-blurb-list' %}" class="btn btn-light btn-block btn-lg text-left mb-2 px-4">
        Image Blurbs: {{ image_blurb_count }}
      </a>
    </div>

    <!-- EXAMPLES -->
    <div class="col-12 col-md-5">
      <a href="{% url 'dt-content:example-site-index' %}" class="btn btn-light btn-block btn-lg text-left mb-2 px-4">
        Site Example
      </a>
      <a href="{% url 'dt-content:example-section' %}" class="btn btn-light btn-block btn-lg text-left mb-2 px-4">
        Static Section Example
      </a>
      <a href="{% url 'dt-content:example-block' %}" class="btn btn-light btn-block btn-lg text-left mb-2 px-4">
        Static Block Example
      </a>
      <a href="{% url 'dt-content:example-blurb' %}" class="btn btn-light btn-block btn-lg text-left mb-2 px-4">
        Blurb Example
      </a>
      <a href="{% url 'dt-content:example-image-blurb' %}" class="btn btn-light btn-block btn-lg text-left mb-2 px-4">
        Image Blurb Example
      </a>
    </div>
  </div>
</div>
{% endblock %}
