{% extends 'dt_content/console/base.html' %}
{% load bootstrap4 %}

{% block body %}

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dt-content:index' %}">Console</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dt-content:menu-list' %}">All Menus</a></li>
      <li class="breadcrumb-item active" aria-current="page">New Menu</li>
    </ol>
  </nav>
</div>

<div class="container py-4">
  <h3>New Menu</h3>
  <form method="post">
    {% csrf_token %}
    <div class="mb-4">
      {% include 'dt_content/snippets/menu_form_row.html' %}
    </div>
    <button class="btn btn-primary">Create Menu</button>
  </form>
</div>
{% endblock %}
