{% extends 'dt_stripe/base.html' %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="container py-4">
  {% include 'dt_stripe/snippets/commands.html'%}
  {% include 'dt_stripe/snippets/object_list.html'%}
  <div class="row my-5">
    <div class="col-12 col-md-11 col-lg-10 col-xl-8">
      <h3>Product List</h3>
      {% for product in product_list %}
      <div class="card">
        <h4>{{ product.name }}</h4>
        {% if product.description %}
        <p>{{ product.description }}</p>
        {% endif %}
      </div>
      {% endfor %}
      <div class="text-right">
        <a href="{% url 'dt-stripe:product-create' %}" class="btn btn-primary">
          Create product
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
{% block body_script %}
{% endblock body_script %}
