{% extends 'dt_stripe/base.html' %}

{% load bootstrap4 %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="container py-4">
  <div class="row">
    <div class="col-12 col-md-11 col-lg-10 col-xl-8">
      <a href="{% url 'dt-stripe:product-list' %}" class="btn btn-link">
        <i class="fas fa-chevron-left mr-2"></i>Back
      </a>
      <h1>New product</h1>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="text-right">
          <button class="btn btn-primary" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
{% block body_script %}
{% endblock body_script %}
