{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
{% endblock head %}

{% block body %}

  {% include 'core/navbar.html' %}

  <div class="content">
    <div class="container py-5">
      <h2>This is a placeholder app for django-template</h2>
      <p><i class="fas fa-rocket"></i> Good luck on your project!</p>

      <img class="hero-gif" src="{% static 'core/img/food_small.gif' %}">

      {% bootstrap_messages as messages %}
      {% if messages.strip %} {# #}
        <h4 class="mt-4">Here are some Bootstrap messages</h4>
        <p>{{ messages }}</p>
      {% endif %}

    </div>
  </div>

  {% include 'core/footer.html' %}

{% endblock body %}
{% block body_script %}
{% endblock body_script %}
