{% load static %}

<nav class="fixed-top">
  <div class="navbar-top">
    <div class="container">
      <div class="d-flex justify-content-end">
        {% if request.user.is_authenticated %}
          <a class="btn navbar-top-button" href="{% url 'account_logout' %}">SIGN OUT</a>
        {% else %}
          <a class="btn navbar-top-button" href="{% url 'account_login' %}">LOG IN</a>
          <a class="btn navbar-top-button" href="{% url 'account_signup' %}">SIGN UP</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="navbar-middle navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand nav-title" href="{% url 'core:index' %}">
       Food Selector
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% for menu in '' %}
            {% if not menu.disabled %}
              <li class="nav-item">
                <a class="nav-link {% if menu.active %}active{% endif %}" href="{{ menu.href }}">{{ menu.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
