{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock %}

{% block content %}
<h2>{% trans "Verify Your Email Address" %}</h2>

<div class="row">
  <div class="col-12 col-md-8">
    {% url 'account_email' as email_url %}

    <p>{% blocktrans %}This section of the website requires you to verify your email address.
      {% endblocktrans %}</p>

    <p>{% blocktrans %}We sent you an email for
      verification. Please click on the link inside this email. Please
      contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

    <p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail
        address</a>.{% endblocktrans %}</p>
  </div>
</div>


{% endblock %}
